djangorestframework-simplejwt
google-auth
django-cors-headers
itsdangerous
sendgrid
python-decouple
openai
psycopg2-binary
django-filter
drf-spectacular
celery
redis
python-dotenv
gunicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
Pillow
sentence-transformers
faiss-cpu
google-generativeai
numpy